apiVersion: apps/v1
kind: Deployment
metadata:
    name: dev
    namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev
  template:
    metadata:
      labels:
        app: dev
    spec:
      containers:
        - name: dev
          image: wil42/playground:v1 #changer avec v2 pour les tests
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
              protocol: TCP
---