apiVersion: apps/v1
kind: Deployment
metadata:
    name: wil-playground
    namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wil-playground
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
        - name: wil-playground
          image: wil42/playground:v2 #changer avec v2 pour les tests
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
              protocol: TCP
---
